@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

 *{
    box-sizing: border-box;
    margin: 0;
    padding-inline-start: 0;
}

body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: gray;
    font-family: var(--font-family-1);
    font-size: var(--bodu-size);
}


:root{
    /*color*/
    --dark-Blue: hsl(240, 38%, 20%);
    --grayish-Blue: hsl(240, 18%, 77%);

    --bodu-size:25px;

    --font-family-1: 'Inter', sans-serif;
    --font-family-2: 'Lexend Deca', sans-serif;

    --size : 70vw;
}


.main_card{
    background-color: white;
    height: calc(var(--size)/2);
    width: var(--size);
    position: relative;
}

.main_card :nth-child(1){
    position: absolute;
    bottom: 0px;
    left: 0;
    width: calc((var(--size)*2)/5);
    z-index: 0;
}

.main_card :nth-child(2){
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: calc((var(--size)*44)/100);
    z-index: 0;
}

.main_card :nth-child(3){
    position: absolute;
    left: calc(var(--size)/6);
    top: calc(var(--size)/6);
    width: calc(var(--size)/12);
    z-index: 0;
}



.btn{
    position: absolute;
    content: "";
    width: calc((var(--size)*8)/100);
    height:  calc((var(--size)*4)/100);
    background-color:#eee;
    top: calc((var(--size)*40)/100);
    left: calc((var(--size)*56)/100);
    border-radius: calc((var(--size)*8)/100) ; 
}

.btn div{
    position: relative;
    width: calc((var(--size)*8)/100);
    height:  calc((var(--size)*4)/100);
}

.btn :nth-child(1) :nth-child(1){
    position: absolute;
    width: calc((var(--size)*1)/100);
    left: calc((var(--size)*1)/100);
    top: calc((var(--size)*1.25)/100);
}

.btn :nth-child(1) :nth-child(2){
    position: absolute;
    width: calc((var(--size)*1)/100);
    left: calc((var(--size)*6)/100);
    top: calc((var(--size)*2)/100);
}



.main_card .text-card{
    position: absolute;
    top: 70%;
    left: 10%;
    max-height: 50%;
    min-width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#paragraph-1, #paragraph-2 {
    width: 100%;
    margin-bottom: 25px;
    top: -200px;
    left: 0;
}

#NameJob-1,#NameJob-2{
    left: 0;
    top: 40px;
    color: var(--dark-Blue);
    font-size: 20px;
}

#NameJob-1 span{
    left: 135px;
    color: var(--grayish-Blue);
}

#tanya_mg,#john_img{
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: calc((var(--size)*2)/6);
    z-index: 0;
    position: relative;
}




/* about phone */ 
@media (max-width: 375px) {
   

   .main_card{
    width: 100vw;
    height: 110vh;
   }

   .main_card :nth-child(1){
    width: calc(var(--size));
}

.main_card :nth-child(2){
    left: 50%;
    top: calc(var(--size)/10);
    transform: translateX(-50%);
    width: calc((var(--size)*12)/10);
}
.main_card :nth-child(3){
    left:50%;
    transform: translateX(-50%);
    top: calc((var(--size)*14)/10);
    width: calc(var(--size)/4);
}

#tanya_mg,#john_img{
    top: calc(var(--size)/5);
    left: 50%;
    transform: translateX(-50%);
    width: calc((var(--size)));   
    z-index: 0;
}

.text-card{
    text-align: center;
    height: 250px;
    width: 80%;
}

#NameJob-1,#NameJob-2{
    left: 50%;
    top: 50%;
    color: var(--grayish-Blue);
}

#paragraph-1, #paragraph-2{
    top: -155px;
}

#NameJob-1 span{
    top: 25px;
    left: 27px;
    color: var(--dark-Blue);
}

.btn{
    position: absolute;
    content: "";
    width: calc((var(--size)*25)/100);
    height:  calc((var(--size)*11)/100);
    background-color:#fafafa;
    top: calc((var(--size)*115)/100);
    left: calc((var(--size)*58)/100);
    border-radius: calc((var(--size)*8)/100) ; 
}

.btn div{
    position: relative;
    width: calc((var(--size)*8)/100);
    height:  calc((var(--size)*4)/100);
}

.btn :nth-child(1) :nth-child(1){
    position: absolute;
    width: calc((var(--size)*3.5)/100);
    left: calc((var(--size)*2.5)/100);
    top: calc((var(--size)*-4)/100);
    cursor: pointer;
}

.btn :nth-child(1) :nth-child(2){
    position: absolute;
    width: calc((var(--size)*3.5)/100);
    left: calc((var(--size)*20)/100);
    top: calc((var(--size)*-3.8)/100);
    cursor: pointer;
}
  }